<% provide(:title, 'Log in') %>

<div class="row bg-primary">
  <h2>Log in</h2>

  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= form_for(:session, url: login_path) do |f| %>
    <% render 'shared/error_messages' %>

    <%= f.label :email %>
    <%= f.email_field :mail, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :remember_me, class: 'inline' do %>
      <%= f.check_box :remember_me %>
      <span>Remember me</span>
    <% end %>
    <br/><br/>

    <%= f.submit 'Log in' %>
  <% end %>

  <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
</div>
