<html>
<% provide(:title, 'Sign up') %>
<head>
  <title>Hello stranger!</title>
</head>

<body>
  <h1 class="text-center">FakeBook</h1>

  <div class="row bg-primary">
    <div class="col-md-3 col-md-offset-3">
      <h2>Sign up</h2>
      <%= form_for :people, url: people_path do |f| %>
          <%= render 'shared/error_messages' %>

          First name: <br/>
            <%= f.text_field :name, class: 'form-control' %>
          Surname: <br/>
            <%= f.text_field :surname, class: 'form-control' %>
          <br/>

          Mail: <br/>
            <%= f.email_field :mail, class: 'form-control' %>
          Password: <br/>
            <%= f.password_field :password, class: 'form-control' %>
          Password confirmation: <br/>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          <br/>

          <!--Gender: <br/>
            <%= f.radio_button :gender, 'Male', :checked => true %>
            <%= label :gender_Male, 'Male' %>
            <%= f.radio_button :gender, 'Female' %>
            <%= label :gender_Female, 'Female' %>
          <br/><br/-->

          <%= f.submit 'Sign up' %>
      <% end %>
      <br/>
    </div>

    <div class="col-md-3 col-centered">
      <h2>Log in</h2>
      <%= form_for :session, url: login_path do |f| %>
          Id: <br/>
            <%= f.text_field :id, class: 'form-control' %><br/>
          Password: <br/>
            <%= f.password_field :password, class: 'form-control' %><br/><br/>

          <%= f.submit 'Log in' %>
      <% end %>
      </div>
    <div class="col-md-3 col-" ></div>
    <br/>
  </div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
