<div class="col-md-4 col-centered">
  <%= gravatar_for @user, 200 %>

  <br/>
  <br/>
  <p>Photos</p>
  <p>Friends</p>
  <p>Music</p>
</div>
<div class="col-md-8">
  <strong><%= @user.name + ' ' + @user.surname %></strong>
  <p class="text-muted"><%= @user.status %></p>
  <hr style="width: 100%"/>

  <div class="col-md-4">
    <small class="text-muted">Purpose in life:</small>      <br/>
    <small class="text-muted">Relationship status:</small>  <br/>
    <small class="text-muted">Birthday:</small>             <br/>
    <small class="text-muted">City:</small>                 <br/>
    <small class="text-muted">Phone number:</small>         <br/>
    <small class="text-muted">Gender: </small>              <br/>
  </div>
  <div class="col-md-8">
    <small><%= @user.profession %></small>    <br/>
    <small><%= @user.relationship %></small>  <br/>
    <small><%= @user.date_of_birth %></small> <br/>
    <small><%= @user.city %></small>          <br/>
    <small><%= @user.phone_number %></small>  <br/>
    <small><%= @user.gender %></small>        <br/>
  </div>
  <hr style="width: 100%"/>

  <div class="col-md-13">
    <p class="bg-info">Photos</p>
    <li>Photo1</li>
    <li>Photo2</li>
  </div>
  <br/>

  <h5 class="bg-info">Posts (<%= @user.posts.count %>)</h5>
  <% if logged_in? && current_user == @user %>
      <%= render 'shared/post_form' %>
      <hr style="width: 100%"/>
  <% end %>
  <div class="col-md-13">
    <% if @user.posts.any? %>
      <%= render @posts %>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
