<div class="col-md-4">
  <div class="row">
    <%= gravatar_for @user, 215 %>
  </div>
  <div class="div-center">
    <%= render 'shared/stats' %>
  </div>
  <div>
    <%= render 'follow_form' if logged_in? %>
  </div>
  <hr style="width: 100%"/>

  <div class="row">
  <% if @user.followers.any? %>
    <div class="user_avatars">
      <h4>Random follower:</h4>
      <%! random_follower = @user.followers.all.sample %>
      <%= link_to gravatar_for(random_follower, 55), random_follower %>
    </div>
  <% end %>
  </div>

  <div class="row">
  <% if @user.followers.any? %>
    <div class="user_avatars">
      <h4>Some following:</h4>
      <%! random_following = @user.following.all.sample %>
      <%= link_to gravatar_for(random_following, 55), random_following %>
    </div>
  <% end %>
  </div>
  <hr style="width: 100%"/>
</div>

<div class="col-md-8">
  <div class="row">
    <h4><strong><%= @user.name + ' ' + @user.surname %></strong></h4>
    <p class="text-muted"><%= @user.status %></p>
    <hr style="width: 100%"/>
  </div>

  <div class="row">
  <table id="info" style="width: 100%">
    <tr>
      <td width="30%"><small class="text-muted">Purpose in life:</small></td>
      <td><small><%= @user.profession %></small></td>
    </tr>
    <tr>
      <td><small class="text-muted">Relationship status:</small>  <br/></td>
      <td><small><%= @user.relationship %></small>  <br/></td>
    </tr>
    <tr>
      <td><small class="text-muted">City:</small></td>
      <td><small><%= @user.city %></small></td>
    </tr>
    <tr>
      <td><small class="text-muted">Birthday:</small></td>
      <td><small><%= @user.date_of_birth %></small> <br/></td>
    </tr>
    <tr>
      <td><small class="text-muted">Phone number:</small></td>
      <td><small><%= @user.phone_number %></small></td>
    </tr>
    <tr>
      <td><small class="text-muted">Gender: </small></td>
      <td><small><%= @user.gender %></small></td>
    </tr>
  </table>
  </div>
  <hr style="width: 100%"/>

  <div class="row">
    <h5 class="bg-info">Posts (<%= @user.posts.count %>)</h5>
    <% if logged_in? && current_user == @user %>
        <%= render 'shared/post_form' %>
        <hr style="width: 100%"/>
    <% end %>
    <% if @user.posts.any? %>
      <%= render @posts %>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
