<div class="col-md-2 col-centered">
  <%= gravatar_for @user %>

  <br/>
  <br/>
  <p>Photos</p>
  <p>Friends</p>
  <p>Audios</p>
</div>
<div class="col-md-10 col-centered">
  <strong><%= @user.name + ' ' + @user.surname %></strong>
  <p><%= @user.status %></p>

  <hr style="width: 100%"/>

  <p><strong>Purpose in life:</strong> <%= @user.profession %></p>
  <p><strong>Relationship status:</strong> <%= @user.relationship %></p>

  <hr style="width: 100%"/>
  <p><strong>Date of birth:</strong> <%= @user.date_of_birth.to_s %></p>
  <p><strong>City:</strong> <%= @user.city %></p>
  <p><strong>Phone number:</strong> <%= @user.phone_number %></p>
  <p><strong>Gender:</strong> <%= @user.gender %></p>
</div>
