<!DOCTYPE html>
<html>
  <head>
    <title>FakeBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrap" class="container col-md-6 col-md-offset-3">
      <header class="row">
        <div class='col-md-1'>
          <%= link_to image_tag('logo.jpg', height: '50', with: '680', :border => 0, :alt => '', :title => ''), current_user, :class => 'dock-item ' %>
        </div>
      </header>
      <div class="row">
        <div class='col-sm-2 left-bar'>
          <% if logged_in? %>
            <%= link_to 'My Page', current_user, id: 'logo' %> <br/>
            <%= link_to 'My Followers', followers_user_path(@current_user) %>   <br/>
            <%= link_to 'My Followings', following_user_path(@current_user) %>   <br/>
            <%= link_to 'My Feed', feed_path %>      <br/>
            <%= link_to 'My Settings', edit_user_path(@current_user) %>  <br/><br/>

            <%= link_to "All Users(#{User.count})", users_path %> <br/> <br/>
            <%= link_to "Dev's vk", 'https://vk.com/wavemeaside'  %> <br/>
            <%= link_to 'Log out', logout_path, method: 'delete' %>
          <% else %>
            <%= link_to 'Log in', login_path %> <br/>
            <%= link_to 'Sign up', signup_path %> <br/>
          <% end %>
        </div>
        <div class="col-md-10 right-wrap">
          <div id="flash" class="row">
            <% flash.each do |message_type, message| %>
                <div cls class="flash" guideaass="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
          </div><br/>
          <div id="content" class="row">
            <%= yield %>
            <%= debug(params) if Rails.env.development? %>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </body>
</html>
